// レスポンシブ設定
$bp : (mobile : 480px,
    tablet : 768px,
    desktop : 1440px,
);
@mixin query($display) {

    @each $key,
    $value in $bp {
        @if ($display==$key) {
            @media (max-width: $value) {
                @content;
            }
        }
    }
}

// 全体
.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  padding: 50px 100px;
  overflow: hidden;
    @include query (tablet) {
      padding: 50px 0;
    }
}

.placePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  //height: 100vh;

  .place {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  .a {
    border: 1px solid #A986E1;
  }

  .hashtags {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .imageBox {
      width: 110px;
      height: 110px;
      margin: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }

  p {
    margin-top: 30px;
    font-size: 12px;
    background: -webkit-linear-gradient(15deg, #FAA500, #BB19BE);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--insta-blue);
    color: var(--white100);
    width: 200px;
    height: 36px;
    margin-top: 15px; 
    font-size: 10px;
    font-weight: 400;
    border-radius: 8px;
  }
  button:active {
    opacity: 0.5;
  }
}

.coverBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .title {
    position: absolute;
    top: 0;
    display: flex;
    padding: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    h1 {
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.3em;
    }
  }
  .cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120vw;
    height: 400px;
    margin-top: -200px;
	  border-radius: 50%;
    background: -webkit-linear-gradient(15deg, #FAA500, #BB19BE);
    opacity: 0.4;
    z-index: -100;
  }
}

.prifileBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  .image {
    margin-top: -40px;
    width: 82px;
    height: 82px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    overflow: hidden;
    border: 2px solid var(--white100);
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      z-index: 0; 
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .name {
      font-size: 12px;
      font-weight: 700;
      margin-top: 5px;
    }
    .goodnum {
      font-size: 12px;
      opacity: 0.5;
      margin-top: 4px;
    }
    .isgooded {
      display: flex;
      padding: 5px 15px;
      background-color: #EBEBEB;
      font-size: 10px;
      color: #8A8A8A;
      border-radius: 6px;
      margin-top: 8px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--insta-blue);
      color: var(--white100);
      width: 200px;
      height: 36px;
      margin-top: 15px; 
      font-size: 10px;
      font-weight: 400;
      border-radius: 8px;
      border-bottom: solid 3px #425FF6;
    }
    button:active {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
      border-bottom: none;
    }
  }
}

.placeTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 16px;
}
.placeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .place {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
    font-size: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  .a {
    border: 1px solid #A986E1;
  }
  .b {
    border: 1px solid #5EDCF8;
  }
  .c {
    border: 1px solid #73EF86;
  }
  .d {
    border: 1px solid #F3C365;
  }
  .e {
    border: 1px solid #5CABF4;
  }
  .f {
    border: 1px solid #E9F281;
  }
}