// レスポンシブ設定
$bp : (mobile : 480px,
    tablet : 768px,
    desktop : 1440px,
);
@mixin query($display) {

    @each $key,
    $value in $bp {
        @if ($display==$key) {
            @media (max-width: $value) {
                @content;
            }
        }
    }
}

// 全体
.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  padding: 0 100px;
    @include query (tablet) {
      padding: 0;
    }
}

// ヘッダー
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 100px;
    @include query (tablet) {
      padding: 0 20px;
    }
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.3em;
  }

  .headerBtnBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    font-size: 25px;
    .nortification, .user {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      margin-left: 10px;
      opacity: 0.8;
    }
  }
}

// ボディ
.main {
  width: 100%;
  height: 100%;
  padding: 100px 50px 50px 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: url(/images/signin.svg);
  background-position: center;
  background-size: cover;
  @include query (tablet) {
    flex-flow: column;
    justify-content: center;
    padding: 50px 5px 30px 5px;
  }
  .process {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      font-size: 10px;
    }
    .yet {
      opacity: 0.5;
    }
    .line {
      height: 1px;
      width: 80px;
      margin: 0 10px;
      background-color: rgba(0,0,0,0.1);
    }
  }
  .title {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1 {
      font-size: 26px;
      font-weight: 500;
    }
    p {
      margin-top: 5px;
      font-size: 12px;
      font-weight: 300;
      opacity: 0.6;
    }
  }
  .actionBox {
    width: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
  }
  .btnBox {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nextText {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 18px;
        font-weight: 700;
      }
    }
    .nextArrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      border: 4px solid var(--gray100);
      background-color: white;
      font-size: 30px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .nextArrow:active { 
      background-color: var(--black100);
      color: var(--white100);
    }
  }
  .other {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      font-size: 12px;
      font-weight: 300;
      opacity: 0.5;
      text-decoration: underline;
    }
  }
}




// いきたい場所
.placeBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 20px 10px;

  .placeUlBox {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 15px 0px 15px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
    h3 {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    li+ li {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .placeListBox {
      display: flex;
      flex-direction: Row;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      margin-bottom: 5px;
      width: 100%;
      height: auto;
      .emoji {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        width: 40px;
        min-width: 40px;
        height: 40px;
        background-color: var(--white100);
        border-radius: 50%;
      }
      .placeTextBox {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        .name {
          margin-left: 10px;
          font-size: 12px;
          font-weight: 500; 
        }
      }
      .placeBtnBox {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 25px;
          font-size: 10px;
          font-weight: 400;
          border-radius: 5px;
          mix-blend-mode: color-burn;
          border: 1px solid #272727;
          transition: all 0.25s ease;
          &:active {
            background-color: #272727;
            color: var(--white100);
          }
        }
        .placeGo {
  
        }
        .placeDelete {
          display: none;
        }
      }
    }
    .placeSetBoxPlus {
      font-size: 12px;
      background-color: var(--white100);
      border: 1px solid rgba(0,0,0,0.1);
      input {
        width: 60%;
      }
      ::placeholder {
        color: var(--black100);
        opacity: 0.4;
      }
    }
  }
  .Apr {
    background-color: var(--green100);
  }
  .May {
    background-color: var(--blue100);
  }
  .Jun {
    background-color: var(--purple100);
  }

  .addPlaceBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50px;
    input {
      flex: 5;
      border-bottom: 1px solid var(--black100);
    }
    select {
      text-align: center;
      background-color: var(--gray100);
      padding: 5px 10px;
      border-radius: 5px;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      flex: 1;
      background-color: var(--gray100);
      padding: 5px 10px;
      border-radius: 5px;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}