// レスポンシブ設定
$bp : (mobile : 480px,
    tablet : 768px,
    desktop : 1440px,
);
@mixin query($display) {

    @each $key,
    $value in $bp {
        @if ($display==$key) {
            @media (max-width: $value) {
                @content;
            }
        }
    }
}

// 全体
.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  padding: 0;
}


.backBtnBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 54px;
  width: 100%;
  padding: 0 36px;
  margin-top: 20px;
}

.profileBox {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .red {
      background-color: #FA6B6B;
    }
    .blue{
      background-color: #257BD4;
    }
    .yellow {
      background-color: #EEC532;
    }
    .green {
      background-color: #00A867;
    }
    .image {
      width: 95px;
      height: 95px;
      border-radius: 50%;
      overflow: hidden;
      border: 1.5px solid #000000;
      img {
        width: 95px;
        object-fit: cover;
        object-position: -2px 0px;
      }
    }
    .colorBox {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        display: flex;
        width: 40px;
        height: 40px;
        margin: 2px;
        border: 1px solid #000000;
        border-radius: 50%;
      }
      .red {
        background-color: #FA6B6B;
      }
      .blue{
        background-color: #257BD4;
      }
      .yellow {
        background-color: #EEC532;
      }
      .green {
        background-color: #00A867;
      }
    }

    .avatarBox {
      margin-top: 10px;
      width: 232px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .image {
        margin: 2px;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        overflow: hidden;
        border: 1.5px solid #000000;
        img {
          width: 54px;
          object-fit: cover;
          object-position: -1px 0px;
        }
      }
    }

    .name {
      margin-top: 40px;
      input {
        font-size: 24px;
        border-bottom: 0.5px solid rgba(0,0,0,0.2);
        line-height: 48px;
        text-align: center;
      }
    }

  }

}
