@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

:root {
  --black100: #242448;
  --white100: #FFFFFF;
  --green100: #DFF4F0;
  --green200: #D9F9D6;
  --green300: #D6F9E4;
  --yellow100: #FEF5DD;
  --red100: #F9D6D8;
  --blue100: #D6DAF9;
  --blue200: #D6F7F9;
  --blue300: #D6ECF9;
  --pink100: #F9D6F5;
  --purple100: #F0D6F9;
  --orange100: #F9EBD6;
  --orange200: #F9E3D6;
  --gray100: #F6F6F6;
  --gray200: #D0D0D0;
  --insta-blue: #4295F6;
  --insta-gray: #EEEEEE;
}

html {
  height: -webkit-fill-available;
}
body {
  background-color: var(--white100);
  color: var(--black100);
  font: 14px 'Lato', 'Noto Sans JP', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}
