// レスポンシブ設定
$bp : (mobile : 480px,
    tablet : 768px,
    desktop : 1440px,
);
@mixin query($display) {

    @each $key,
    $value in $bp {
        @if ($display==$key) {
            @media (max-width: $value) {
                @content;
            }
        }
    }
}

// 全体
.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  padding: 0 100px;
    @include query (tablet) {
      padding: 0;
    }
}

// ヘッダー
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 100px;
    @include query (tablet) {
      padding: 0 20px;
    }
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.3em;
}
.accountBox {
  margin-top: 60px;
  margin-bottom: 30px;
  width: 100%;
  height: 100px;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .accountImgBox {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--green100);
    font-size: 20px;
  }

  .accountTextBox {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15px;

    h3 {
      font-size: 16px;
      font-weight: 700;
    }
    .accountTextJob {
      padding-left: 2px;
      font-size: 10px;
      font-weight: 500;
      opacity: 0.5;
    }
    .accountTextBio {
      padding-left: 2px;
      font-size: 10px;
      font-weight: 500;
    }
  }
}

// ボディ
.main {
  width: 100%;
  padding: 50px 10px;
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-start;
  @include query (tablet) {
    flex-flow: column;
    justify-content: center;
    padding: 0 10px;
  }
}


.scheduleBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  overflow: auto;
}

.placeBox {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
}

.BoxHeader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  h3 {
    font-size: 14px;
    font-weight: 700;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    font-size: 10px;
    font-weight: 500;
    opacity: 0.5;
  }
}

.monthRowBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  padding: 10px 0;
  .monthSetBox {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-right: 10px;
    width: 120px;
    height: 190px;
    border-radius: 20px;
    background-color: var(--green100);
    .month {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .percentage {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .emojiBox {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .emoji {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,0.1);
      }
    }
  }
}

.placeCulumnBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 0;
  width: 100%;
  .placeSetBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 5px;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    background-color: var(--gray100);
    .placeTextBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .emoji {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--white100);
        font-size: 15px;
      }
      .name {
        margin-left: 10px;
        font-size: 13px;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      font-size: 10px;
      padding: 0 20px;
      border-radius: 10px;
      border: 1px solid rgba(0,0,0,0.1);
    }
  }
}