// レスポンシブ設定
$bp : (mobile : 480px,
    tablet : 768px,
    desktop : 1440px,
);
@mixin query($display) {

    @each $key,
    $value in $bp {
        @if ($display==$key) {
            @media (max-width: $value) {
                @content;
            }
        }
    }
}

// 全体
.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  padding: 0;
}

.top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .red {
    background-color: #FA6B6B;
  }
  .blue{
    background-color: #257BD4;
  }
  .yellow {
    background-color: #EEC532;
  }
  .green {
    background-color: #00A867;
  }
  .image {
    margin: 0 36px;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #000000;
    img {
      width: 104px;
      object-fit: cover;
      object-position: -2px 0;
    }
  }
  h2 {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 700;
  }
}

.contentBox {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .itemBox {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px 0;
    background-color: #EDEDED;
    font-weight: 400;
    letter-spacing: 0.1em;
  }
}