// レスポンシブ設定
$bp : (mobile : 480px,
    tablet : 768px,
    desktop : 1440px,
);
@mixin query($display) {

    @each $key,
    $value in $bp {
        @if ($display==$key) {
            @media (max-width: $value) {
                @content;
            }
        }
    }
}

// 全体
.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  padding: 0;
}

.top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .red {
    background-color: #FA6B6B;
  }
  .blue{
    background-color: #257BD4;
  }
  .yellow {
    background-color: #EEC532;
  }
  .green {
    background-color: #00A867;
  }
  .image {
    margin: 0 36px;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #000000;
    img {
      width: 104px;
      object-fit: cover;
      object-position: -2px 0;
    }
  }
  h2 {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 700;
  }
}

.contentBox {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .nortificationCardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nortificationCard {
      margin-bottom: 16px;
      width: 340px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #000000;
      border-radius: 10px;
      box-shadow: 0px 5px 10px rgba(112, 112, 112, 0.15);

      .topBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 8px 8px;

        .hashtag {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #E3E3E3;
          padding: 4px 12px;
          border-radius: 4px;
          font-size: 10px;
        }
        .date {
          font-size: 10px;
          font-weight: 400;
          color: #9F9F9F;
        }
      }
      .mainBox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 8px 16px 16px 16px;
        .red {
          background-color: #FA6B6B;
        }
        .blue{
          background-color: #257BD4;
        }
        .yellow {
          background-color: #EEC532;
        }
        .green {
          background-color: #00A867;
        }
        .image {
          margin-right: 8px;
          width: 52px;
          height: 52px;
          border-radius: 50%;
          overflow: hidden;
          border: 1.5px solid #000000;
          img {
            width: 52px;
            object-fit: cover;
            object-position: -2px 0;
          }
        }

        .profileBox {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          .profile {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
            .name {

            }
            .id {
              margin-bottom: 1px;
              margin-left: 4px;
              font-size: 10px;
              font-weight: 400;
              color: #9F9F9F;
            }
          }
          .message {
            margin-top: 2px;
            font-size: 10px;
            font-weight: 400;
          }
        }
      }
    }
  }
}


.modal {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 30;

  .modalContent {
    background-color: #FFFFFF;
    width: 224px;
    height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 2px 10px 8px 10px;
    box-shadow: 0px 5px 10px rgba(112, 112, 112, 0.15);

    .cancel {
      background-color: #FFFFFF;
      border: 2px solid #000000;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      font-size: 20px;
      position: relative;
      margin-top: -18px;
      margin-right: -220px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .top {

    }

    .red {
      background-color: #FA6B6B;
    }
    .blue{
      background-color: #257BD4;
    }
    .yellow {
      background-color: #EEC532;
    }
    .green {
      background-color: #00A867;
    }
    .image {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      overflow: hidden;
      border: 1.5px solid #000000;
      img {
        width: 110px;
        object-fit: cover;
        object-position: -2px 0;
      }
    }
    .profile {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .name {

      }
      .id {
        font-size: 10px;
        font-weight: 400;
        color: #9F9F9F;
      }
    }
  }
}