// レスポンシブ設定
$bp : (mobile : 480px,
    tablet : 768px,
    desktop : 1440px,
);
@mixin query($display) {

    @each $key,
    $value in $bp {
        @if ($display==$key) {
            @media (max-width: $value) {
                @content;
            }
        }
    }
}

// 全体
.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  padding: 0;
}

.profileBox {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 25px;

  .profileTop {
    display: flex;
    justify-content: center;
    align-items: center;
    .red {
      background-color: #FA6B6B;
    }
    .blue{
      background-color: #257BD4;
    }
    .yellow {
      background-color: #EEC532;
    }
    .green {
      background-color: #00A867;
    }
    .image {
      margin: 0 36px;
      width: 104px;
      height: 104px;
      border-radius: 50%;
      overflow: hidden;
      border: 1.5px solid #000000;
      img {
        width: 104px;
        object-fit: cover;
        object-position: -2px 0;
      }
    }
    .total, .you {
      display: flex;
      width: 60px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
      .num {
        font-size: 32px;
        font-weight: 500;
      }
    }
  }
  .name {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
  }
  .isGooded {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    color: #ABABAB;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 6px;
  }
  .edit {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    color: #ABABAB;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 6px;
  }
  .goodBtnBox {
    .goodBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--white100);
      width: 164px;
      height: 44px;
      margin-top: 16px; 
      font-size: 12px;
      font-weight: 400;
      border-radius: 8px;
      border: 1px solid #000000;
    }
    .goodBtn:active {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
      box-shadow: none;
    }
    .red {
      background-color: #FA6B6B;
      box-shadow: 0 2px 0 0.5px #B74040;
    }
    .blue{
      background-color: #257BD4;
      box-shadow: 0 2px 0 0.5px #385471;
    }
    .yellow {
      background-color: #EEC532;
      box-shadow: 0 2px 0 0.5px #A48C38;
    }
    .green {
      background-color: #00A867;
      box-shadow: 0 2px 0 0.5px #175F43;
    }
  }
}


.placeTitle {
  margin-top: 48px;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.placeBox {
  display: flex;
  justify-content: center;
  align-content: center;

  .placeCardBox {
    width: 336px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;

    .placeCard {
      margin: 8px;
      width: 152px;
      height: 116px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border: 1px solid #000000;
      border-radius: 10px;
      padding: 2px 10px 8px 10px;
      box-shadow: 0px 5px 10px rgba(112, 112, 112, 0.15);
      .image {
        width: 80px;
        height: 72px;
        overflow: hidden;
        img {
          width: 80px;
          object-fit: cover;
          object-position: top;
          object-position: 0 0;
        }
      }
      .hashtag {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: 500;
      }
    }
  }
}

.addBtnBox {
  .addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 164px;
    height: 44px;
    margin-top: 16px; 
    font-size: 10px;
    letter-spacing: 0.1em;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid #000000;
  }
  .addBtn:active {
    opacity: 0.5;
  }
  .red {
    background-color: #FA6B6B;
  }
  .blue{
    background-color: #257BD4;
  }
  .yellow {
    background-color: #EEC532;
  }
  .green {
    background-color: #00A867;
  }
}